<%if @message%>
  <div class="notification is-info">
    <%=@message%>
  </div>
<% end %>

<form action="/dreams/<%=@dream.id%>/edit" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <div class="field">
    <label class="label">Dream Descrition</label>
    <div class="control has-icons-left">
      <input class="input" name="description" type="text" value="<%=@dream.description%>">
      <span class="icon is-small is-left">
        <i class="far fa-lightbulb"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Image Link</label>
    <div class="control has-icons-left">
      <input class="input" name="image_link" type="text" value="<%=@dream.image_link%>">
      <span class="icon is-small is-left">
        <i class="fas fa-image"></i>
      </span>
    </div>
  </div>

  <div class="field is-grouped">
    <input type="submit" class="button is-link" value='Update'>
  </form>
  <form action="/dreams/<%=@dream.id%>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete this Dream" class="button is-danger">
  </form>

</div>
